<div id="speaker-controls">
    <div class=button id=new-topic @click="showNewTopic('topic')">New Topic</div>
    <div class=button id=reply @click="showNewTopic('reply')">Reply</div>
    <div class=button id=speaker-question @click="showNewTopic('clarify')">Clarifying Question</div>
    <div class=button id=speaker-poo @click="showNewTopic('poo')">Point of Order</div>
    <new-topic-control :topicType="this.topicType" :currentTopic=currentTopic  v-if="this.creatingTopic" @cancel=cancel @new-topic=newTopic></new-topic-control>
  </div>