<div class="temp-check">
  <div class="reaction-controls">
    <span class="reaction-container">
      <button title="Strong Positive" class="reaction-item button" @click="react('❤️')">❤️ {{countReactions('❤️')}}</button>
      <div class="floating hide" v-if="countReactions('❤️') > 0">
        <div class="arrow top right"></div>
        <span><strong>Strong Positive</strong></br>{{listNames('❤️')}}</span>
      </div>
    </span>
    <span class="reaction-container">
      <button title="Positive" class="reaction-item button" @click="react('👍')">👍 {{countReactions('👍')}}</button>
      <div class="floating hide" v-if="countReactions('👍') > 0">
        <div class="arrow top right"></div>
        <span><strong>Positive</strong></br>{{listNames('👍')}}</span>
      </div>
    </span>
    <span class="reaction-container">
      <button title="Following" class="reaction-item button" @click="react('👀')">👀 {{countReactions('👀')}}</button>
      <div class="floating hide" v-if="countReactions('👀') > 0">
        <div class="arrow top right"></div>
        <span><strong>Following</strong></br>{{listNames('👀')}}</span>
      </div>
    </span>
    <span class="reaction-container">
      <button title="Indifferent" class="reaction-item button" @click="react('🤷')">🤷 {{countReactions('🤷')}}</button>
      <div class="floating hide" v-if="countReactions('🤷') > 0">
        <div class="arrow top right"></div>
        <span><strong>Indifferent</strong></br>{{listNames('🤷')}}</span>
      </div>
    </span>
    <span class="reaction-container">
      <button title="Unconvinced" class="reaction-item button" @click="react('😕')">😕 {{countReactions('😕')}}</button>
      <div class="floating hide" v-if="countReactions('😕') > 0">
        <div class="arrow top right"></div>
        <span><strong>Unconvinced</strong></br>{{listNames('😕')}}</span>
      </div>
    </span>
  </div>
</div>
